.verticalFlex{
    display: flex;
    flex-direction: column;

}
.horizontalFlex{
    display: flex;
    flex-direction: row;

}

.modal{
    width: 55rem;
    min-height: 12rem;
    height: 38rem;
    border-radius: .2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(54, 54, 54);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    transition: 2s;
    padding: 2rem;    
}
.modalInput{
    width: 22rem;
    height: 2rem;
    font-size: 14px;
    padding-left: .7rem;
    text-transform: uppercase;
    border-radius: .3rem;
    border: none;
}
.modalInput:focus{
    border-width: 0px;
    border: none;
    outline: 2px solid black;
}
.modalInput::placeholder{
    text-transform: lowercase;
    font-style: italic;
    color: rgb(145, 145, 145);
}

.modalInputHalf{
    width: 10.5rem;
    height: 2rem;
    font-size: 14px;
    padding-left: .7rem;
    text-transform: uppercase;
    border-radius: .3rem;
    border: none;
}
.modalInputHalf:focus{
    border-width: 0px;
    border: none;
    outline: 2px solid black;
}
.modalInputHalf::placeholder{
    text-transform: lowercase;
    font-style: italic;
    color: rgb(145, 145, 145);
}

.modalSelectHalf{
    width: 10.5rem;
    height: 2rem;
    font-size: 14px;
    padding-left: .7rem;
    border-radius: .3rem;
    border: none;
}
.modalSelectHalf:focus{
    border-width: 0px;
    border: none;
    outline: 2px solid black;
}
.modalSelectSmall{
    width: 8rem;
    height: 2rem;
    font-size: 14px;
    padding-left: .7rem;
    border-radius: .3rem;
    border: none;
}
.modalSelectSmall:focus{
    border-width: 0px;
    border: none;
    outline: 2px solid black;
}


.modalTitle{
    color: white;
    margin-bottom: 2rem;
}
.modalBtn{
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: .5rem;
    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgb(0, 153, 255);
    cursor: pointer;
    border-radius: .4rem;
    border: none;
    color: white;
    display: flex;
    transition: .2s;
}

.modalBtn:hover{
    background-color: rgb(4, 138, 228);
}

.modalBtn:active{
    background-color: rgb(2, 119, 197);
}